body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}
#app {
  width: 100%;
  max-width: 500px;
}

.accordion {
  border-radius: 0.25rem;
  border: 2px solid black;
  text-align: start;
  background-color: white;
}

.accordion li {
  overflow: hidden;
  list-style: inside;
}

.accordion-content {
  display: grid;
  grid-template-rows: 0fr;
  transition: grid-template-rows 250ms;
  background-color: white;
  color: black;
}

.show {
  grid-template-rows: 1fr;
}
.active {
  color: green;
}
